<phpunit
    bootstrap="./tests/bootstrap.php"
    addUncoveredFilesFromWhitelist="true"
    processUncoveredFilesFromWhitelist="true"
    stopOnFailure="false"
    colors="auto">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">./app</directory>
        <exclude>
          <directory suffix=".php">./tests</directory>
          <directory>./app/template</directory>
          <directory>./app/config</directory>
        </exclude>
      </whitelist>
    </filter>
</phpunit>
